<div class="section">
	<ul class="news">
		<% form_tag "/picconnects/create", :id => 'form' do -%>
			<% @picconnects.each_with_index do |p,i| %>
			<li>
				<% if i==0 %>
					<h2><a href="#">connect & import</a></h2>
				<% end %>
				<div class="tweetmeme_button">
					<div class="tweetmemebutton">
						<a class="count" href="#" title="Failure: Invalid Story URL specified"><span class="c"></span><br/><span class="t"></span></a>
						<!--<a class="retweet" title="" href="#">retweet</a>-->
				  </div>
				</div>
				
				<input id="pic_choose" name='pic_choose[]' type="checkbox" value=<%= p.id %> />
				<div class="section">
					<ul class="ads big">
						<li>
						    <% if(p.bmiddle_pic && p.original_pic ) %>
					  			<%= link_to image_tag(p.thumbnail_pic), p.original_pic %>
					  		<% end %>
							<br>
						    <div class="popular">
						 		<ul>
									<li><%=h p.text %>
									</li>
									 
								</ul>
								<ul> 
									<dl class="meta">
											<dd><%= p.created_at %></dd>
										</dl>
								</ul>
								<ul>
									<li>
									所属主题
									<%= select("pic_s", "", 
										options_for_select(Subject.all.collect {|s| [ s.name, s.id ] } << ["请选择",""],""), { :include_blank => false })
									%>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>
			
			<div id=<%= p.id %> >
				<input class="num" name="num[]" value=<%= i %> type="checkbox" style="display:none"/>
				<input class="original_pic" name="original_pic[]" value=<%= p.original_pic %> type="checkbox" style="display:none"/>
				<input class="bmiddle_pic" name="bmiddle_pic[]" value=<%= p.bmiddle_pic %> type="checkbox" style="display:none" />
				<input class="thumbnail_pic" name="thumbnail_pic[]" value=<%= p.thumbnail_pic %> type="checkbox" style="display:none" />
				<input class="description" name="description[]" value=<%= p.text %> type="checkbox" style="display:none" />
			</div>
			<hr>
			<% end %>
			<%= submit_tag "提交", :class => "submit" %>
		<% end %>
	</ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(":checkbox").click(function(){
	  	var v = $(this).val();
	  	
	  	if($(this).attr("checked")){
	  		$("div#"+v+" .num").attr("checked",'true');
		  	$("div#"+v+" .original_pic").attr("checked",'true');
		  	$("div#"+v+" .bmiddle_pic").attr("checked",'true');
		  	$("div#"+v+" .thumbnail_pic").attr("checked",'true');
		  	$("div#"+v+" .description").attr("checked",'true');
	  	}else{
	  		$("div#"+v+" .num").attr("checked",'false');
	  		$("div#"+v+" .original_pic").attr("checked",'false');
		  	$("div#"+v+" .bmiddle_pic").attr("checked",'false');
		  	$("div#"+v+" .thumbnail_pic").attr("checked",'false');
		  	$("div#"+v+" .description").attr("checked",'false');
	  	}
  });
});
</script>