<!DOCTYPE html>
<!-- saved from url=(0054)http://twitter.github.com/bootstrap/examples/hero.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Pick Fun</title>
    <meta name="keywords" content="Pick Pic & Pick Fun" />
	<meta name="description" content="图片选择比较，排行" />
    <meta name="author" content="fishforward">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->

    <!-- Le styles -->
	<%= stylesheet_link_tag 'bootstrap.css', :media => 'screen' %>
    <style type="text/css">
      body {
        padding-bottom: 40px;
      }
      .item {
			  width: 280px;
			  margin: 12px;
			  float: left;
			}
	  .thumbnail{
	  	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075);
	  }
    </style>
	<%= stylesheet_link_tag 'bootstrap-responsive.css', :media => 'screen' %>
    <!-- Le fav and touch icons -->
    
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

    <div class="navbar navbar-top">
	    <div class="navbar-inner">
	      <div class="container">
			
				<div class="span5 offset1">
					<a class='brand' href='/home' title='Pick Fun'>
	           			<%= image_tag( "logo.png", :size=>"150x50", :alt =>"Pick Fun") %>
	          		</a>
	          	</div>
	
				<div class="span5">
			        <div class="nav-collapse">
			          <ul class="nav">
			            <li <% if  @Home_current %> class="active" <% end %> ><%= link_to "Home", :controller => "home" %></li>
			            <li class="divider-vertical"></li>
			            <li <% if  @Pics_current %> class="active" <% end %> ><%= link_to "Pics", :controller => "pics" %></li>
			            <li class="divider-vertical"></li>
			            <li><%= link_to "Upload",  :controller => "pics", :action => "new" %></li>
			            <li class="divider-vertical"></li>
			            <li><%= link_to "About", :controller => "about", :action => "message" %></li>
			            <li class="divider-vertical"></li>
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-black"></i>XXX <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="#">Account</a></li>
			                <li><a href="import.htm">Connect</a></li>
			                <li><a href="#"></a></li>
			                <li class="divider"></li>
			                <li><a href="#">Logout</a></li>
			              </ul>
			            </li>
			          </ul>
			       
			        </div><!-- /.nav-collapse -->
		        </div>
	      </div>
	    </div><!-- /navbar-inner -->
	  </div><!-- /navbar -->

    <div class="container" >
    	
    	<%= yield %>
	   
	   <div class="row">
    	<div class="span10 offset1">
	  		<hr>
			<footer>
	    		<p>&copy; Company 2012</p>
	    		<p><strong>PickFun</strong>, by forward.</p>
		      	<p>Follow us on
		        	<a href="#">Weibo</a> or
		        	abdc <a href="#">xyz</a>.
		      	</p>
	    	</footer>
	     </div>
	    </div>
	  
    </div> <!-- /container -->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "js/jquery-1.7.1.min.js" %>
    <%= javascript_include_tag "js/jquery.masonry.min.js" %>
    <%= javascript_include_tag "js/bootstrap-transition.js" %>
    <%= javascript_include_tag "js/bootstrap-alert.js" %>
    <%= javascript_include_tag "js/bootstrap-modal.js" %>
    <%= javascript_include_tag "js/bootstrap-dropdown.js" %>
    <%= javascript_include_tag "js/bootstrap-scrollspy.js" %>
    <%= javascript_include_tag "js/bootstrap-tab.js" %>
    <%= javascript_include_tag "js/bootstrap-tooltip.js" %>
    <%= javascript_include_tag "js/bootstrap-popover.js" %>
    <%= javascript_include_tag "js/bootstrap-button.js" %>
    <%= javascript_include_tag "js/bootstrap-collapse.js" %>
    <%= javascript_include_tag "js/bootstrap-carousel.js" %>
    <%= javascript_include_tag "js/bootstrap-typeahead.js" %>
    
	<script language="JavaScript" type="text/JavaScript">
	var $flow_container = $('#flow_container');
		
	$flow_container.imagesLoaded( function(){
	  $flow_container.masonry({
	    itemSelector : '.item'
	  });
	});
	</script>

</body></html>