<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" -->


<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Pick Fun</title>
	<!-- InstanceBeginEditable name="head" -->
	<meta name="keywords" content="Pick Pic & Pick Fun" />
	<meta name="description" content="图片选择比较，排行" />
	<%= javascript_include_tag "js/jquery.js", "js/creato.js" %>
	<%= stylesheet_link_tag 'pickpic.css', :media => 'screen' %>
</head>

<body>
	
<div id="wrapper">

		<!-- HEADER START -->
		<div id="header">
		
			<h1><%= link_to "Pick Pic Fun", :controller => "home" %></h1>
			
			<ul id="nav">
				<% if  @Home_current %>
					<li class="current">
				<% else %>
				    <li>
				<% end %>
					<%= link_to "Home", :controller => "home" %>
					 <ul>
					 	<li <% if @Home_secode == '0' %> class="current" <%end%> ><%= link_to "全部",  :controller => "picks",:action => "new" %></li>
						<li <% if @Home_secode == '1' %> class="current" <%end%> ><%= link_to "美女",  :controller => "pick_subjects",:action => "show", :id => '1' %></li>
						<li <% if @Home_secode == '2' %> class="current" <%end%> ><%= link_to "风景",  :controller => "pick_subjects",:action => "show", :id => '2' %></li>
						<!--<li><a href="item.html">玩乐</a></li>-->
					</ul> 
				</li>
				<% if  @Pics_current %>
					<li class="current">
				<% else %>
				    <li>
				<% end %>
					<%= link_to "Pics", :controller => "pics" %>
				</li>
				
				<% if  @Upload_current %>
					<li class="current">
				<% else %>
				    <li>
				<% end %>
					<%= link_to "Upload",  :controller => "pics", :action => "new" %>
					<!-- <ul>
						<li><a href="hire_me.html">Contact me</a></li>
					</ul> -->
				</li>
				<% if  @About_current %>
					<li class="current">
				<% else %>
				    <li>
				<% end %>
					<%= link_to "About", :controller => "about", :action => "message" %>
					 <ul>
						<li <% if @About_secode == '1' %> class="current" <%end%> ><%= link_to "Message",  :controller => "about",:action => "message" %></li>
						<li <% if @About_secode == '2' %> class="current" <%end%> ><%= link_to "Me",  :controller => "about",:action => "me" %></li>
						
					</ul> 
				</li>
			</ul>
		
		</div><!-- end div #header -->
		<!-- HEADER END -->
		
		<!-- CONTENT START -->
		<div id="container">
			<div id="content"> 
				 <section class="round2">
		            <%= yield %>
		        </section>
				
			</div><!-- end div #content -->
			
		</div><!-- end div #container -->
		<!-- CONTENT END -->
		
		<!-- FOOTER START -->
		<div id="footer-wrap">
			<div id="footer">

				<!-- Footer first level - start -->
				<ul>
					
					<li class="col-1">
						<h2>Categories</h2>
						<ul>
							<li><a href="#"><strong>Home</strong></a>, <a href="#">Pick</a></li>
							<li><a href="#"><strong>Pic</strong></a>, <a href="#">Rank</a></li>
							<li><a href="#"><strong>Upload</strong></a></li>
						</ul>
					</li>
					<li class="col-2">
						<h2>Todo</h2>
						<ul>
							<li><a href="#">Connect to Social</a></li>
							<li><a href="#">Tag</a></li>
							<li><a href="#">Pick Of Theme</a></li>
						</ul>
					</li>
					<li class="col-3">
						<h2>About me</h2>
						<dl>
							<dt><a href="#">John Example - Go to about page</a></dt>
							<dd>For the ideal that I hold dear to my heart.</dd>
						</dl>
					</li>
				</ul>
				<!-- Footer first level - end -->
				<!-- Footer second level - start -->
				<p>&copy; 2011 费仕. All rights reserved. &nbsp; <a href="mailto:fishgyuyi@gmail.com">E-mail me</a>.</p> 
				<p class="back-to-top"><a href="#">Back to top</a></p>
				<!-- Footer second level - end -->
			</div><!-- end div #footer-wrap -->
		</div><!-- end div #footer -->
		<!-- FOOTER END -->
	
	</div><!-- end div #wrapper -->

</body>


</html>
